<h1>Add a New Park:</h1>

<form action="/parks" method="post">
	<div class="form-group">
		<input placeholder="Name" id="name" name="name" type="text">
	</div>
	<div class="form-group">
		<input placeholder="Location" id="location" name="location" type="text">
	</div>
	<div class="form-group">
		<input placeholder="Date Established" id="dateEstablished" name="dateEstablished" type="text">
	</div>
	<div class="form-group">
		<input placeholder="Area" id="area" name="area" type="number">
	</div>
	<div class="form-group">
		<input placeholder="Description" id="description" name="description" type="text">
	</div>
	<button type="submit">Go!</button>
</form>